#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-table,
.content-table_1 {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  overflow-x: auto;
}

.content-table thead,
.content-table_1 thead {
  background-color: #45ceac;
  font-weight: bold;
}

.content-table tbody tr,
.content-table_1 tbody tr {
  background-color: #fffdfd;
}

.content-table th,
.content-table td,
.content-table_1 th,
.content-table_1 td {
  padding: 12px 15px;
  border-bottom: 1px solid black;
}

.content-table thead tr,
.content-table_1 thead tr {
  border-bottom: 1px solid black;
}

#tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  color: black;
  background-color: #fffdfd;
  opacity: 0.9;
  -webkit-box-shadow: 0.5px 0.5px 1px 1px #45ceac;
          box-shadow: 0.5px 0.5px 1px 1px #45ceac;
  border: 1px solid #45ceac;
  margin-left: 7.7vw;
}

#main_heading {
  margin-top: 4px;
  margin-bottom: 9px;
  text-align: center;
  color: #45ceac;
  font-size: 1.0em;
}

input[type=text] {
  -webkit-box-shadow: 1px 1px 1px solid black;
          box-shadow: 1px 1px 1px solid black;
  width: 110px;
}

label {
  text-align: center;
  margin: 2px;
  font-size: 0.8em;
}

.content-table th {
  background-color: #45ceac;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.content-table_1 th {
  background-color: #45ceac;
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
}

#girls,
#boys {
  margin: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
}

#help,
#inst_code_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

#help {
  background-color: #e8eaf6;
  margin-top: 20vw;
  border-top: 1px solid black;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}

a {
  text-decoration: none;
  font-size: 1.65vh;
  margin-left: 4.9px;
  color: black;
}

a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  opacity: 0.5;
}

::-ms-input-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}

label[for="Caste"], .gender_text {
  color: #dd0a0a;
}

.gender_text {
  position: relative;
  bottom: 2px;
  left: -2px;
}

#tab_branch {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  height: 30px;
  margin-left: 15px;
  z-index: 1;
}

body {
  background-color: white;
}

li {
  margin-left: 2em;
}

@media (max-height: 500px) {
  a {
    font-size: 13px;
  }
}
/*# sourceMappingURL=main.css.map */