:root {
  --height:300px;
}

#main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-table,
.content-table_1 {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  text-align: center;
  overflow-x: auto;
}

.content-table thead,
.content-table_1 thead {
  background-color: #45ceac;
  font-weight: bold;
}

.content-table tbody tr,
.content-table_1 tbody tr {
  background-color: #fffdfd;
}

.content-table th,
.content-table td,
.content-table_1 th,
.content-table_1 td {
  padding: 12px 15px;
  border-bottom: 1px solid black;
}

.content-table thead tr,
.content-table_1 thead tr {
  border-bottom: 1px solid black;
}

#tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button {
  color: black;
  background-color: #fffdfd;
  opacity: 0.9;
  -webkit-box-shadow: 0.5px 0.5px 1px 1px #45ceac;
          box-shadow: 0.5px 0.5px 1px 1px #45ceac;
  border: 1px solid #45ceac;
  margin-left: 7.7vw;
}

input[type=text] {
  -webkit-box-shadow: 1px 1px 0.1px solid black;
          box-shadow: 1px 1px 0.1px solid black;
  width: 110px;
}

label {
  text-align: center;
  margin: 2px;
  font-size: 0.8em;
}

.content-table th {
  background-color: #45ceac;
  top: 0;
}

.content-table_1 th {
  background-color: #45ceac;
  top: 30px;
}

.content-table th, .content-table_1 th, .content-table thead tr, .content-table_1 thead tr {
  position: -webkit-sticky;
  position: sticky;
}

#girls,
#boys {
  margin: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
}

#help,
#inst_code_table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

#help {
  background-color: #e8eaf6;
  margin-top: 20vw;
  border-top: 1px solid black;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  padding-top: 20px;
  padding-bottom: 20px;
  display: none;
}

a {
  text-decoration: none;
  font-size: 13px;
  margin-left: 4.9px;
  color: black;
}

a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  opacity: 0.5;
}

:-ms-input-placeholder {
  opacity: 0.5;
}

::-ms-input-placeholder {
  opacity: 0.5;
}

::placeholder {
  opacity: 0.5;
}

label[for="Caste"], .gender_text {
  color: #dd0a0a;
}

.gender_text {
  position: relative;
  bottom: 2px;
  left: -2px;
}

#tab_branch {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  height: 30px;
  margin-left: 15px;
  z-index: 1;
}

body {
  background-color: white;
}

li {
  margin-left: 2em;
}

.input_options_items {
  position: relative;
  width: 100%;
  height: calc(25px);
  background-color: white;
  border-left: 0.1px solid #b3b3b3;
  border-right: 0.1px solid #b3b3b3;
  border-bottom: 0.1px solid #b3b3b3;
  z-index: 1;
}

.input_options_items:hover, .input_options_items:focus {
  background-color: #bdbdbd;
  outline: none;
}

.input_options {
  position: absolute;
  z-index: 1;
  width: 110px;
  background-color: black;
}

.partition_2 {
  padding-left: 15px;
  padding-top: 10px;
}

.partition_1 {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 1;
  height: auto;
}

#main_heading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 90px;
  width: 90%;
  border-bottom: 0.1px solid grey;
}

.main_heading_text {
  color: #f53302;
  font-weight: 450;
  font-size: 18px;
  position: relative;
  left: -3px;
}

.drop_down {
  width: 200px;
  z-index: 2;
  height: 1000px;
  background-color: white;
  border-bottom: 0.1px solid grey;
  position: absolute;
  display: none;
  -webkit-animation: show_up 0.8s;
          animation: show_up 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 0.1px solid grey;
}

.menu_options {
  width: 100%;
  height: 200px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.1px solid grey;
  border-left: 0.1px solid grey;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.menu_options:hover {
  background-color: #e2e2e2;
}

.menu_options:last-of-type {
  border-bottom: 0px solid grey;
}

@-webkit-keyframes pull_down {
  from {
    height: 0px;
  }
  to {
    height: var(--height);
  }
}

@keyframes pull_down {
  from {
    height: 0px;
  }
  to {
    height: var(--height);
  }
}

@-webkit-keyframes pull_up {
  from {
    height: var(--height);
  }
  to {
    height: 0px;
  }
}

@keyframes pull_up {
  from {
    height: var(--height);
  }
  to {
    height: 0px;
  }
}

.side_arrow {
  width: 10%;
  height: 90px;
  z-index: 1;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.1px solid grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bi.bi-chevron-down {
  width: 25px;
  height: 25px;
  color: grey;
  position: relative;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.bi.bi-chevron-down:hover {
  color: #4b17a0;
}

@-webkit-keyframes rotate_up {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotate_up {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate_down {
  from {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate_down {
  from {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (min-width: 900px) {
  .drop_down {
    width: 230px;
  }
  .main_heading_text {
    position: relative;
    left: -20%;
  }
  #main_heading {
    width: 93%;
  }
  .side_arrow {
    width: 7%;
    padding-left: 5px;
  }
}

.help_div {
  background-color: #e8eaf6;
  padding-top: 0.11em;
}

.ordered_list {
  font-size: 0.8em;
}

.color_up {
  background-color: #e2e2e2;
}
/*# sourceMappingURL=main.css.map */